//Navbar
$navbar-item-color: $color-screaming-green;
$navbar-item-hover-color: $color-white;
$navbar-item-hover-background-color: $color-screaming-green;
$navbar-item-active-color: $color-white;
$navbar-item-active-background-color: $color-heliotrope;

$navbar-dropdown-background-color: $color-white;
$navbar-dropdown-item-hover-color: $color-white;
$navbar-dropdown-item-hover-background-color: $color-screaming-green;
$navbar-dropdown-item-active-color: $color-white;
$navbar-dropdown-item-active-background-color: $color-heliotrope;

$navbar-dropdown-radius: 0;

// Link
$link: $color-screaming-green;

// Input
$input-hover-border-color: $color-screaming-green;

// Control
$control-radius: 0px;
