$color-black: #000000;
$color-white: #ffffff;
$color-light-gray: #cccccc;
$color-gray: #555555;

$color-screaming-green: #55F551;
$color-heliotrope: #EF51F5;
$color-porcelain: #eff0f1;

$color-facebook: #3b5998;
$color-twitter: #1da1f2;
$color-linkedin: #0077b5;

$color-button-link: #3273dc;

$color-header-box: #ed6930;
$color-header-box-hover: #0e2943;
