$demo-image-loc: '/app/uploads/Demo';

$values-image: url('#{$demo-image-loc}/Arvot-Background-01b.png');
$gamercard-image: url('#{$demo-image-loc}/Pelaajakortti-Background-01b.png');
$open-positions-image: url('#{$demo-image-loc}/AvoimetTyöpaikat-Background-01b.png');
$customer-section-image: url('#{$demo-image-loc}/AsiakasOsio-Background-01b.png');