// Navbar
$navbar-bottom-border-height: 4px;

// Hero
$hero-featured-image-height: 580px;

// Card
$card-header-bg-image-height: 250px;
$card-header-border-bottom: 3px solid $color-screaming-green;
$card-fixed-height: 460px;
$card-body-padding: 15px;
$card-body-title-margin-bottom: 10px;
$card-header-bg-image-height-on-header: 50%;

// Media Card
$media-card-cover-bg-color: rgba($color-black, 0.4);
$media-card-content-border-left: 5px solid $color-white;
$media-card-content-border-left-hover: 5px solid $color-heliotrope;

// Icon text
$icon-text--padding: 1rem;

// WordPress related variables
$adminbar-height: 32px;


// Author page
$author-border: 20px solid $color-heliotrope;
$author-border-small: 2px solid $color-heliotrope;

// Search form
$searchform-margin: 0 0 8px;
$searchform-heigh: 24px;
$searchbox-input-padding : 0 3px 0 24px;

