.ginput_container input {
  @extend .input;
}

@media only screen and (max-width: 641px) {
  .gform_wrapper input {
    &:not([type='radio']) {
      &:not([type='checkbox']) {
        &:not([type='image']) {
          &:not([type='file']) {
            line-height: $body-line-height !important;
          }
        }
      }
    }
  }
}

.gform_wrapper input {
  &:not([type='radio']) {
    &:not([type='checkbox']) {
      &:not([type='submit']) {
        &:not([type='button']) {
          &:not([type='image']) {
            &:not([type='file']) {
              padding: $control-padding-vertical $control-padding-horizontal !important;
            }
          }
        }
      }
    }
  }
}

.gform_footer input[type=submit] {
  width: auto !important;
}

.gform_footer {
  margin: 0 !important;
}

.gform_button {
  @extend .button;
  background-color: $color-button-link;
}
